<!doctype html>
<html lang="id">
	<head>
		<meta charset="{{ @ENCODING }}">
		<base href="{{ @SCHEME . '://' . @site.url }}">
		<title>{{ @site.name }}</title>
		<repeat group="{{ @site.meta }}" key="{{ @name }}" value="{{ @content }}">
			<meta name="{{ @name }}" content="{{ @content }}">
		</repeat>
		<repeat group="{{ @site.asset.css }}" value="{{ @file }}">
			<link rel="stylesheet" href="{{ 'ui/css/' . @file }}">
		</repeat>
		<repeat group="{{ @site.asset.js }}" value="{{ @file }}">
			<script src="{{ 'ui/js/' . @file }}"></script>
		</repeat>
	</head>
	<body>
		<include href="{{ @page }}" />
	</body>
</html>