<div class="uk-container uk-container-center uk-margin-top">
	<include href="navbar.html" />
	<h2>{{ @document.title . ': ' . date("l, d F Y") }}</h2>
	<div class="uk-grid uk-margin-large-bottom">
		<div class="uk-width-3-5">
			<check if="{{ @usage != null }}">
				<true>
					<canvas id="daily-usage"></canvas>
				</true>
				<false><p>Belum ada data pemakaian.</p></false>
			</check>
		</div>
		<div class="uk-width-2-5">
			<form class="uk-form uk-form-stacked" method="post" action="processing/daily">
				<label for="dailyusage">Pemakaian hari ini ({{ date("Y-m-d") }})</label>
				<div class="uk-form-controls">
					<input name="dailyusage" type="text">
					<input name="referrer" type="hidden" value="{{ @REALM }}">
					<input class="uk-button" name="update-daily-usage" type="submit" value="Update Pemakaian">
				</div>
			</form>
			<form class="uk-form uk-form-stacked uk-margin uk-margin-large-bottom" method="post" action="processing/monthly">
				<label for="monthlyusage">Pemakaian bulan ini ({{ date("Y-m") }})</label>
				<div class="uk-form-controls">
					<input class="uk-form-blank" name="monthlyusage" type="text" value="{{ @total }}" readonly>
					<input class="uk-button" type="submit" value="Update Pemakaian">
					<input name="referrer" type="hidden" value="{{ @REALM }}">
				</div>
			</form>
		</div>
	</div>
	<include href="table.html" />
</div>
<script>
	var config = {
		type: 'line',
		data: {
			labels: [<repeat group="{{ @usage }}" value="{{ @data }}"><check if="{{ @data.month == date('Ym') }}"><true>"{{ @data.date}}",</true></check></repeat>],
			datasets: [{
				label: "Pemakaian",
				data: [<repeat group="{{ @usage }}" value="{{ @data }}"><check if="{{ @data.month == date('Ym') }}"><true>"{{ @data.usage }}",</true></check></repeat>]
			}]
		},
		options: {
			responsive: true
		}
	};

	window.onload = function() {
		var context = document.getElementById("daily-usage").getContext("2d");
		window.usageChart = new Chart(context, config);
	};
</script>