<div class="uk-container uk-container-center uk-margin-top">
	<ul class="uk-grid uk-grid-width-1-3" data-uk-grid-margin>
		<repeat group="{{ @menu }}" value="{{ @data }}">
			<a href="{{ @data.url }}">
				<li>
					<div class="uk-panel uk-panel-box uk-text-center">
						<h3 class="uk-panel-title">{{ @data.label }}</h3>
						<i class="{{ @data.icon }} uk-icon-large"></i>
					</div>
				</li>
			</a>
		</repeat>
	</ul>
</div>