<div class="uk-container uk-container-center uk-margin-top">
	<include href="navbar.html" />
	<h2>{{ @document.title }}</h2>
	<div class="uk-grid uk-margin-large-bottom">
		<div class="uk-width-3-5">
			<check if="{{ @usage != null }}">
				<true>
					<canvas id="monthly-usage"></canvas>
				</true>
				<false><p>Belum ada data pemakaian.</p></false>
			</check>
		</div>
		<div class="uk-width-2-5">
			<form class="uk-form uk-form-stacked uk-margin uk-margin-large-bottom" method="post" action="processing/monthly">
				<label for="monthlyusage">Pemakaian bulan ini ({{ date("Y-m") }})</label>
				<div class="uk-form-controls">
					<input class="uk-form-blank" name="monthlyusage" type="text" value="{{ @total }}" readonly>
					<input class="uk-button" type="submit" value="Update Pemakaian">
					<input name="referrer" type="hidden" value="{{ @REALM }}">
				</div>
			</form>
		</div>
	</div>
	<include href="table.html" />
</div>
<script>
	var config = {
		type: 'bar',
		data: {
			labels: [<repeat group="{{ @usage }}" value="{{ @data }}"><check if="{{ @data.year == date('Y') }}"><true>"{{ @data.label}}",</true></check></repeat>],
			datasets: [{
				data: [<repeat group="{{ @usage }}" value="{{ @data }}"><check if="{{ @data.year == date('Y') }}"><true>"{{ @data.usage}}",</true></check></repeat>]
			}]
		},
		options: {}
	};

	window.onload = function() {
		var context = document.getElementById("monthly-usage").getContext("2d");
		var usageChart = new Chart(context, config);
	};
</script>