<nav class="uk-navbar uk-margin-large-bottom">
	<ul class="uk-navbar-nav">
		<li><a href="/">Main Menu</a></li>
		<repeat group="{{ @menu }}" value="{{ @data }}">
			<li><a href="{{ @data.url }}">{{ @data.label }}</a></li>
		</repeat>
	</ul>
</nav>