<div class="uk-container uk-container-center uk-margin-top">
	<include href="navbar.html" />
	<div class="uk-grid uk-margin-large-bottom">
		<div class="uk-width-1-2">
			<p>Purchase plan bulan {{ date('F Y') }}.</p>
			<form class="uk-form uk-form-horizontal" method="post" action="processing/plan">
				<div class="uk-form-row">
					<label class="uk-form-label" for="purchase_plan">Purchase plan</label>
					<div class="uk-form-controls">
						<input type="text" name="purchase_plan" value="{{ @purchase_plan }}"> <span class="uk-form-help-inline">liter</span>
					</div>
				</div>
				<div class="uk-form-row">
					<label class="uk-form-label" for="purchase_approved">Management approval</label>
					<div class="uk-form-controls">
						<input type="text" name="purchase_approved" value="{{ @approval.purchasing_approved }}"> <span class="uk-form-help-inline">liter</span>
					</div>
				</div>
				<div class="uk-form-row">
					<div class="uk-form-controls">
						<input type="submit" class="uk-button" value="Ubah">
						<input name="referrer" type="hidden" value="{{ @REALM }}">
					</div>
				</div>
			</form>
		</div>
		<div class="uk-width-1-2">
			<p>Purchase plan bulan {{ date("F Y", strtotime("last month")) }}</p>
			<table class="uk-table uk-table-hover">
				<tr>
					<th>Purchase plan bulan lalu</th>
					<td>{{ number_format(@previous_plan.purchasing_plan) }}</td>
					<td>liter</td>
				</tr>
				<tr>
					<th>Purchase approved bulan lalu</th>
					<td>{{ number_format(@previous_plan.purchasing_approved) }}</td>
					<td>liter</td>
				</tr>
			</table>
		</div>
	</div>
	<include href="table.html" />
</div>