<div class="uk-grid">
	<div class="uk-width-1-3">
		<table class="uk-table uk-table-hover">
			<tr title="Nilai kapasitas tanki diambil dari nilai TANKCAP pada file app.ini" data-uk-tooltip>
				<th>Kapasitas tanki</th>
				<td>{{ number_format(@TANKCAP) }}</td>
				<td>liter</td>
			</tr>
			<tr title="Stok awal diambil dari sisa bulan kemarin atau nilai STOKAWAL pada file app.ini jika data bulan kemarin tidak ada." data-uk-tooltip>
				<th>Stok awal</th>
				<td>{{ number_format(@previous) }}</td>
				<td>liter</td>
			</tr>
			<tr title="Sisa tangki dihitung dari kapasitas tanki dikurangi pemakaian bulan ini." data-uk-tooltip>
				<th>Sisa tanki</th>
				<td>{{ number_format(@sisa) }}</td>
				<td>liter</td>
			</tr>
			<tr title="Pemakaian bulan ini dihitung dari keseluruhan data yang diinput dalam bulan ini." data-uk-tooltip>
				<th>Pemakaian bulan ini</th>
				<td>{{ number_format(@total) }}</td>
				<td>liter</td>
			</tr>
			<tr title="Pemakaian rata-rata harian dihitung dari pemakaian bulan ini dibagi jumlah hari bulan ini. Untuk saat ini, jumlah hari diambil dari jumlah data terinput pada bulan ini." data-uk-tooltip>
				<th>Pemakaian rata-rata harian</th>
				<td>{{ number_format(@average) }}</td>
				<td>liter</td>
			</tr>
			<tr title="Prakiraan pemakaian bulan ini dihitung dari pemakaian rata-rata bulan ini dikalikan dengan jumlah hari bulan ini (30 atau 31)." data-uk-tooltip>
				<th>Prakiraan pemakaian bulan ini</th>
				<td>{{ number_format(@forecast) }}</td>
				<td>liter</td>
			</tr>
		</table>
	</div>
	<div class="uk-width-1-3">
		<table class="uk-table uk-table-hover">
			<tr title="Buffer stock dihitung dari stok awal dikurangi dengan prakiraan pemakaian bulan ini." data-uk-tooltip>
				<th>Buffer stock</th>
				<td>{{ number_format(@buffer) }}</td>
				<td>liter</td>
			</tr>
			<tr title="Prakiraan pemakaian buffer stock dihitung dari buffer stok dibagi dengan rata-rata pemakaian harian bulan ini." data-uk-tooltip>
				<th>Prakiraan pemakaian buffer stock</th>
				<td>{{ number_format(@bufferday) }}</td>
				<td>hari</td>
			</tr>
			<tr title="Prakiraan pemakaian total buffer stock dihitung dari buffer stok ditambahkan dengan prakiraan pemakaan bulan ini kemudian dibagi dengan rata-rata pemakaian harian bulan ini." data-uk-tooltip>
				<th>Prakiraan pemakaian total buffer stock</th>
				<td>{{ number_format(@buffertotal) }}</td>
				<td>hari</td>
			</tr>
		</table>
	</div>
	<div class="uk-width-1-3">
		<table class="uk-table uk-table-hover">
			<tr title="Purchase plan dihitung dari pemakaian total buffer stok dikurangi dengan prakiraan pemakaian buffer stok kemudian dikalikan dengan rata-rata pemakaian harian bulan ini." data-uk-tooltip>
				<th>Purchase plan</th>
				<td>{{ number_format(@purchase_plan) }}</td>
				<td>liter</td>
			</tr>
			<tr title="Next stock dihitung dari purchase plan ditambahkan dengan buffer stok." data-uk-tooltip>
				<th>Next stock</th>
				<td>{{ number_format(@next_stock) }}</td>
				<td>liter</td>
			</tr>
			<tr title="Management approval diinputkan oleh operator." data-uk-tooltip>
				<th>Management approval</th>
				<td>{{ number_format(@approval.purchasing_approved) }}</td>
				<td>liter</td>
			</tr>
			<tr title="Aktualisasi next stock dihitung dari management approval ditambahkan dengan buffer stok." data-uk-tooltip>
				<th>Aktualisasi next stock</th>
				<td>{{ number_format(@actual) }}</td>
				<td>liter</td>
			</tr>
		</table>
	</div>
</div>