<div class="uk-container uk-container-center uk-margin-top">
	<include href="navbar.html" />
	<h2>{{ @document.title }}</h2>
	<div class="uk-grid uk-margin-large-bottom">
		<div class="uk-width-1-2">
			<check if="{{ @usage != null }}">
				<true>
					<canvas id="daily-usage"></canvas>
				</true>
				<false><p>Belum ada data pemakaian.</p></false>
			</check>
		</div>
		<form class="uk-form uk-form-stacked uk-width-1-2" method="post" action="processing">
			<label for="dailyusage">Pemakaian hari ini ({{ date("Y-m-d") }})</label>
			{~ $total = 0 ~}
			<repeat group="{{ @usage }}" value="{{ @data }}">
				<check if="{{ @date.month == date('Ym') }}">
					{~ $total = $total + @date.usage ~}
				</check>
			</repeat>
			<div class="uk-form-controls">
				<input name="monthly-usage" type="text" value="{{ $total }}" readonly>
				<input class="uk-button" name="update-monthly-usage" type="submit" value="Update Pemakaian">
				<input name="referrer" type="hidden" value="{{ @REALM }}">
			</div>
		</form>
	</div>
</div>
<script>
	var config = {
		type: 'bar',
		data: {
			labels: [<repeat group="{{ @usage }}" value="{{ @data }}">"{{ @data.date}}",</repeat>],
			datasets: [{
				data: [<repeat group="{{ @usage }}" value="{{ @data }}">"{{ @data.usage }}",</repeat>]
			}]
		},
		options: {}
	};

	window.onload = function() {
		var context = $("#daily-usage").get(0).getContext("2d");
		var usageChart = new Chart(context, config);
	};
</script>